@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root {
    --cor0: #61AD6E;
    --cor1: #196125;
    --cor2: #457A4E;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Montserrat';
    --font-titulos: 'Nunito'
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #095f346e;
    font-family: var(--font-destaque);
    font-weight: bolder;
}


nav {
    background-color: var(--cor2);
    padding: 10px;
    text-align: center;
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 1s;
}

nav >a:hover {
    background-color: #196125b9;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
}

header {
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

header > h1 {
    color: black;
    font-family: var(--font-titulos);
    font-size: 3em;   
}

header > p {
    font-size: 1.2em;
    width: 500px;
    margin: auto;
}

main h1 {
    font-family: var(--font-titulos);
}

main h2 {
    font-family: var(--font-titulos);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1em;
}

main strong {
    font-weight: bold;
    color: #384b3b;
}

main a{
    text-decoration: none;
    font-weight: bolder;
    background-color: #61ad6e73;
    border-radius: 4px;
    color: black;
}

main a:hover{
    background-color: #384b3b7c;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height:90% ;
}

aside {
    background-color: #61ad6e73;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}

aside > h3{
    font-family: var(--font-titulos);
} 

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor1);
    text-align: center;
    color: white;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    color: #384b3b;
    text-decoration: underline;
}
